
.attack-display {
    width: 300px;
    background-color: rgba(0, 108, 196, 0.8);
    text-align: center;
    font-size: 30px;
    height: 500px;
}

.atkDispExtButton {
    background-color: green;
    width: 160px;
    height: 30px;
}

.atkDispSbtButton {
    background-color: rgb(95, 119, 7);
    width: 160px;
    height: 30px;
}